@import 'components/headers';
@import 'components/main';
@import 'base/variables';

*{
    padding: 0%;
    margin: 0%;
    html{
        font-family: 'Calibri';
        background-color: $bg-matu;
        color: white;
    }
}