@import '../base/variables';

header{
    display: flex;
    background-color: $bg-header;
    color: white;
    justify-content: space-around;
    .icono{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition: all 2s;
        .icono:hover{
            transform: scale(1.1);
        }
    }
    .bienvenida{
        display: flex;
        order: 3;
        align-items: center;
    }
    .tabla{
        display: flex;
        border-top: 1px solid rgb(255, 255, 255);
        padding: 5px;
        justify-content: space-around;
        color: white;
        .lugar-tabla{
            background-color: $bg-header;
            align-items: flex-end;
            color: rgb(255, 255, 255);
        }
        a{
            text-decoration: none;
            color: aliceblue;
            font-size: 20px;
            font-family: 'Calibri';
            transition: all 1s;
            a:hover{
                transform: scale(1.1);
            }
        }
    }

}